w_04 | Web scraping con Pandas
====

A veces Pandas es suficiente. Esto depende de que el HTML defina correctamente las tablas que necesitamos, y que el proceso de llevar los datos a la forma que necesitamos no sea demasiado complejo.

Hagamos una prueba. Cabe destacar que estoy definiendo el motor para procesar el HTML porque no tengo instalado ``lxml``, que es el primero que Pandas intenta usar si no se especifica.

In [1]:
import pandas as pd

url = "https://es.tradingeconomics.com/uruguay/indicators"

tables = pd.read_html(url, flavor="bs4")
print(f"Cantidad de tablas: {len(tables)}")

Cantidad de tablas: 12

Pandas encuentra 12 tablas porque a pesar de que están ubicadas en distintas secciones, en el HTML está todo en el mismo lugar. Revisemos una al azar para ver cómo se procesó por defecto.

In [2]:
tables[1].info()
tables[1].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Visión general  15 non-null     object
 1   Último          15 non-null     float64
 2   Referencia      15 non-null     object
 3   Anterior        15 non-null     float64
 4   Rango           15 non-null     object
 5   Frecuencia      15 non-null     object
 6   Unnamed: 6      0 non-null      float64
dtypes: float64(3), object(4)
memory usage: 968.0+ bytes

,Visión general,Último,Referencia,Anterior,Rango,Frecuencia,Unnamed: 6
0,PIB - Tasa de crecimiento trimestral,7.80,2020-09,-10.40,-10.4 : 9.6,Trimestral,NaN
1,PIB - Tasa de crecimiento anual,-2.90,2020-12,-5.80,-12.5 : 10.5,Trimestral,NaN
2,Tasa De Desempleo,9.70,2021-03,11.10,5.4 : 13.4,Mensual,NaN
3,Tasa De Inflación,6.76,2021-04,8.34,-7.12 : 183,Mensual,NaN
4,Tasa De Interés,4.50,2021-05,4.50,4.5 : 10,Diario,NaN

Aunque sobre una columna al final y que las fechas no están formateadas, el resultado es más que aceptable. Podemos revisar otra al azar.

In [ ]:
tables[6].info()
tables[6].head()

Puede no interesarnos tener todas las tablas y para eso ``read_html()`` permite filtrar.

In [3]:
tabla_salud = pd.read_html(url, match="Salud", flavor="bs4")
print(f"Cantidad de tablas: {len(tabla_salud)}")
tabla_salud[0]

Cantidad de tablas: 1

,Salud,Último,Referencia,Anterior,Rango,Frecuencia,Unnamed: 6
0,Casos de coronavirus,282198,2021-05,280372,0 : 282198,Diario,NaN
1,Muertes por coronavirus,4213,2021-05,4176,0 : 4213,Diario,NaN
2,Coronavirus recuperado,242661,2021-05,239309,0 : 242661,Diario,NaN